@import url('https://fonts.googleapis.com/css?family=Open+Sans')
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

*
  box-sizing: border-box

body
  display: flex
  flex-direction: column
  margin: 0
  font-family: 'Open Sans', sans-serif
  font-size: 13px
  background-image: url('/wallpaper.png')
  background-size: cover
