.browser-nav
  display: none
  align-items: center
  height: 36px
  border: 1px solid #949494
  border-top-color: #666
  border-bottom-color: #89898b
  border-top: 0
  padding: 4px 8px
  background-image: linear-gradient(to bottom, #dedede 0%, #aaaaab 100%)

.browser-nav__url-input
  width: 100%
  height: 27px
  border: 1px solid #bdbdbd
  border-radius: 4px
  padding: 0 7px
  padding-top: 2px
  color: #111

  &:focus
    outline: none
