desktop-menu
  z-index: 100

.desktop-menu
  display: flex
  align-items: center
  justify-content: space-between
  line-height: 22px
  padding: 0 10px
  background-color: var(--desktop-menu-bg)
  color: var(--white-text)
  user-select: none
  cursor: default

.desktop-menu--maximized
  box-shadow: none

.desktop-menu__right-box
  display: flex

  & > * + *
    margin-left: 3px
