m-top
  z-index: 100

.m-top
  display: flex
  align-items: center
  justify-content: space-between
  height: 18px
  padding: 0 10px
  background-color: #1d1f21
  color: #c5c8c6
  user-select: none
  cursor: default

.m-top--maximized
  box-shadow: none

.m-top__right-box
  display: flex

  & > * + *
    margin-left: 3px
