m-top
  z-index: 100

.m-top
  display: flex
  align-items: center
  justify-content: space-between
  height: 24px
  padding: 0 10px
  background-image: linear-gradient(to bottom, #5a584f 0%, #403f3a 100%)
  color: #dfdbd2
  font-weight: bold
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.75)
  user-select: none
  cursor: default

.m-top--maximized
  box-shadow: none

.m-top__right-box
  display: flex

  & > * + *
    margin-left: 3px
