.menu-clock
  display: flex

.menu-clock__date
  --sep-color: var(--desktop-menu-bg)
  --bg-color: var(--desktop-menu-bg)

.menu-clock__time
  --sep-color: var(--white-text)
  --bg-color: var(--desktop-menu-bg)
