.menu-netmon
  display: flex

.menu-netmon__rx
  --sep-color: var(--desktop-menu-bg)
  --bg-color: var(--desktop-menu-bg)

  color: var(--green-text)

.menu-netmon__tx
  --sep-color: var(--desktop-menu-bg-2)
  --bg-color: var(--desktop-menu-bg)

  color: var(--red-text)
