.menu-im
  display: flex
  color: var(--yellow-text)

.menu-im__whom
  --sep-color: var(--desktop-menu-bg)
  --bg-color: var(--desktop-menu-bg)

.menu-im__when
  --sep-color: var(--yellow-text)
  --bg-color: var(--desktop-menu-bg)
