.w-app
  display: flex
  flex-direction: column
  border-top-left-radius: 6px
  border-top-right-radius: 6px
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)
  transition: opacity ease 0.2s

  &.ui-draggable-dragging
    opacity: 0.8

.w-app--maximized
  position: absolute
  left: 0 !important
  right: 0 !important
  top: 0 !important
  bottom: 0 !important
  width: auto !important
  height: auto !important

  w-top-bar
    display: none
