.w-top-bar
  position: relative
  display: flex
  height: 28px
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  padding: 5px 10px
  background-image: linear-gradient(to bottom, #626055 0%, #41403b 100%)
  color: white

  &:before
    content: ''
    position: absolute
    left: 0
    right: 0
    top: 1px
    height: 26px
    border-radius: 5px
    box-shadow: inset 0px 2px 0px -1px rgba(150, 150, 150, 0.15)
    pointer-events: none

.w-top-bar__close-btn
  display: inline-flex
  align-items: center
  justify-content: center
  width: 17px
  height: 17px
  border: 1px solid #43423d
  border-radius: 50%

.w-top-bar__close-btn
  background-image: linear-gradient(to bottom, #f28463 0%, #db4e1d 100%)
  color: #563f35
  text-shadow: 0 1px rgba(200, 200, 200, 0.35)

  &:before
    content: '×'

.w-top-bar__title
  margin-left: 10px
